<table id="data-table-basic" class="table table-striped">
    <thead>
    <tr>
        <th>카테고리</th>
        <th>상품이름</th>
        <th>가로(mm)</th>
        <th>세로(mm)</th>
        <th>높이(mm)</th>
        <th>가격(mm)</th>
        <th>상품이미지</th>
    </tr>
    </thead>
    <tbody>
    <% console.log({data:data}) %>
    <% data.forEach(function (element) { %>
    <% console.log({element:element}) %>
    <tr>
        <td><%=element.category%></td>
        <td><%=element.name%></td>
        <td><%=element.width%></td>
        <td><%=element.height_length%></td>
        <td><%=element.height%></td>
        <td><%=element.price%></td>
        <td><a href=<%=element.url%>> <img src=<%=element.image%> height="25px" width="25px"> </a></td>
    </tr>
    <% }); %>

    </tbody>
</table>